@import "/static/css/libraries/dashboard.min.css";

:root {
    --tblr-blue: #DA2B6E;
    --tblr-primary: #DA2B6E;
    --tblr-tabler: #DA2B6E;
    --tblr-primary-rgb: 193, 22, 87;
    --tblr-link-color: #DA2B6E;
    --tblr-link-hover-color: #E0E3E4;
    --tblr-font-sans-serif: 'Poppins','Inter',sans-serif;
}
i {
    font-size: 14px;
}

table .icon button {
    background: transparent;
    border: none;
    outline: none;
    transition: color 0.3s ease;
}
table .icon button:hover {
    color: var(--tblr-primary);
}
