<div class="modal modal-blur fade" id="modal_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div id="popup-status" class="modal-status bg-danger"></div>
            <div id="popup-body"  class="modal-body text-center py-4">
                <h3 id="popup-title">Are you sure?</h3>
                <div id="popup-msg" class="text-secondary">Do you really want to remove 84 files? What you've done cannot be undone.</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                        <button type="button"  class="btn w-100" data-bs-dismiss="modal">
                            Annuler
                        </button>
                    </div>
                        <div class="col">
                            <button id="popup-btn" type="button" class="btn w-100" data-bs-dismiss="modal">
                                Delete 84 items
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>