{% extends 'back/base.html' %}
{% load static %}
{% block title %}Catégories{% endblock title %}

{% block content %}
    <section class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col"><!-- Start Page pre-title -->
                    <div class="page-pretitle">
                        Article
                    </div>
                    <h2 class="page-title">
                        Catégorie d'articles
                    </h2>
                </div><!-- End Page pre-title -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <button type="button" data-filter="" class="btn btn-primary d-none d-sm-inline-block category-item"  data-bs-toggle="modal" data-bs-target="#modal_content" aria-label="Create new category">
                            <i class="fa-solid fa-plus me-2"></i>
                            Nouveau
                        </button>
                        <button type="button" class="btn btn-primary d-sm-none btn-icon category-item" data-bs-toggle="modal" data-bs-target="#modal_content" aria-label="Create new category">
                            <i class="fa-solid fa-plus me-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <!--  alert message -->
                    {% include 'back/static/flash_message.html' %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table table-striped">
                                <thead>
                                    <tr>
                                        <th>Catégorie</th>
                                        <th>Création</th>
                                        <th>Modifier</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in object_list %}
                                    <tr>
                                        <td>
                                            <a href="#" class="text-reset">{{ category.name }}</a>
                                        </td>
                                        <td class="text-secondary" >
                                            {{ category.created | date:"d M Y" }}
                                        </td>
                                        <td class="text-secondary" >
                                            {{ category.updated | date:"d M Y" }}
                                        </td>
                                        <td class="icon">
                                            <div class="d-flex">
                                                <button type="button" class="category-item" data-filter="{{ category.name }}${{ category.pk }}" data-bs-toggle="modal" data-bs-target="#modal_content">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button type="button" class="category" data-filter="{{ category.name }}${{ category.pk }}" data-bs-toggle="modal" data-bs-target="#modal_popup">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            {% include 'back/static/pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/component/widget.js' %}"></script>
    <script src="{% static 'category/index.js' %}"></script>
{% endblock scripts %}