{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning'  %} alert-warning {% else %}alert-danger{% endif %}"  role="alert">
            {% if  message.tags == 'success' %}
                <i class="fa-solid fa-square-check flex-shrink-0 mr-2"></i>
            {% elif message.tags == 'warning' %}
                <i class="fa-solid fa-circle-exclamation flex-shrink-0 mr-2"></i>
            {% else %}
                <i class="fa-solid fa-triangle-exclamation flex-shrink-0 mr-2"></i>
            {% endif %}
            <div>{{ message }}</div>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}