{% load static %}
<section class="service-section"><!-- Start service section  -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3"><!-- Start service item -->
                <div class="service-item">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h6>Livraison gratuite</h6>
                    <p>Toute commande supérieure à 20.000 Fcfa</p>
                </div>
            </div><!-- End service item -->
            <div class="col-sm-6 col-md-4 col-lg-3"><!-- Start service item -->
                <div class="service-item">
                    <i class="fa-solid fa-lock"></i>
                    <h6>Payment sécurisé</h6>
                    <p>100% protection</p>
                </div>
            </div><!-- End service item -->
            <div class="col-sm-6 col-md-4 col-lg-3"><!-- Start service item -->
                <div class="service-item">
                    <i class="fa-solid fa-box-open"></i>
                    <h6>Livraison gratuite</h6>
                    <p>Tous nos produits sont garanties 1 an</p>
                </div>
            </div><!-- End service item -->
            <div class="col-sm-6 col-md-4 col-lg-3"><!-- Start service item -->
                <div class="service-item">
                    <i class="fa-solid fa-phone"></i>
                    <h6>Assistance 24h/24</h6>
                    <p>Unique sur notre support</p>
                </div>
            </div><!-- End service item -->
        </div>
    </div>
</section><!-- End service section  -->

<section class="social-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-1.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-facebook-f"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-2.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-tiktok"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-3.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-youtube"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-4.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-5.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-x-twitter"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2 p-0">
                <div class="social-item set-bg" data-bg="{% static 'files/insta/insta-6.jpg' %}">
                    <div class="social-text">
                        <i class="fa-brands fa-pinterest-p"></i>
                        <a href="#">@ Merci bil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-section"><!--Start footer section-->
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-4"><!--Start footer about item -->
                <div class="footer-about">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="{% static 'files/website/logo.png' %}" alt="LOGO WEBSITE">
                        </a>
                        <p>Osez l'élégance et le style apporter de main et à petit prix</p>
                        <div class="footer-payment">
                            <span><img src='{% static 'files/payment/payment-1.png' %}' alt="Payment-01"></span>
                            <span><img src='{% static 'files/payment/payment-2.png' %}' alt="Payment-02"></span>
                            <span><img src='{% static 'files/payment/payment-3.png' %}' alt="Payment-03"></span>
                            <span><img src='{% static 'files/payment/payment-4.png' %}' alt="Payment-04"></span>
                            <span><img src='{% static 'files/payment/payment-5.png' %}' alt="Payment-05"></span>
                        </div>
                    </div>
                </div>
            </div><!--End footer about item -->
            <div class="col-sm-5 col-md-3 col-lg-2"><!--Start footer widget item -->
                <div class="footer-widget">
                    <h6>Liens rapides</h6>
                    <ul>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Confidentialité</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div><!--End footer about item -->
            <div class="col-sm-4 col-md-3 col-lg-2"><!--Start footer widget item -->
                <div class="footer-widget">
                    <h6>Comptes</h6>
                    <ul>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Suivi de commande</a></li>
                        <li><a href="#">Vérification</a></li>
                    </ul>
                </div>
            </div><!--End footer about item -->
            <div class="col-sm-8 col-md-8 col-lg-4"><!--Start footer news letter item -->
                <div class="footer-newsletters">
                    <h6><label for="newsletter">Newsletters</label></h6>
                    <form>
                        <input type="email" name="newsletter" id="newsletter">
                        <button type="submit">S'inscrire</button>
                    </form>
                    <div class="footer-social-media">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div><!--End footer news letter item -->
            <div class="col-lg-12">
                <div class="footer-copyright">
                    <p>Copyright &copy; <span id="copyright-date"></span> | Tous droits réservés</p>
                </div>
            </div>
        </div>
    </div>
</footer><!--End footer section-->